.Container {

    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 4%;
    padding-right: 4%;
  }


  @media(min-width: 800px){
    .Container{
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
      grid-template-rows: 1fr;
    }

  }
