.Circulo{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 171, 28);
    border-radius: 100px;
}
.Container{
    animation: 0.65s ease 0s 1 normal none running forwards;
    justify-self: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: -webkit-center;

}