.Imagen {
    height: auto;
    width: 100%;
    filter: brightness(0.45);
    display: block;
}


.HeaderImagen{
    width: 100%;
    top: 26%;
    text-align: center;
    z-index: 11;
}

.Contenido{
    display: block;
}

@media(min-width: 400px){
    .Imagen{
        width: 100%;
    }

    .HeaderImagen{
        position: relative;
    }
}

@media(min-width: 800px){
    .Imagen{
        width: 100%;
    }

    .HeaderImagen{
        position: relative;
        text-align: center;
    }
}